.App {
  text-align: center;
  min-height:100%;
	position:relative;
}

.App-header {
  min-height: 150px;
  padding: 20px;
  color: #0088CB;
}

.menubar {
  height: 60px;
  color: white;
  background:#dee2e6;
}
.menubar-item {
  padding:10px;
  font-size: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main {
  padding:10px;
  padding-bottom:30px;   /* Height of the footer */
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  min-height:30px;   /* Height of the footer */
  background:#dee2e6;
}
