.App {
  text-align: center;
  min-height:100%;
	position:relative;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* header */
.App-header {
  min-height: 150px;
  padding: 20px;
  color: white;
  position:relative;
}

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
.focus-in-contract-bck {
	animation: focus-in-contract-bck 1s linear forwards;
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}
/*------------------*/

/* ripple effect */
.ripple {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ripple-circle {
  width: 50px;
  height: 50px;
  border-radius: 99px;
  position: absolute;
  border: 1px solid green;
}

/* menubar */
.menubar {
  width: 100%;
  height: 50px;
  position:fixed;
  color: white;
  background:rgba(222, 226, 230, 0.8);
  padding-left: 0px;
  padding-right: 0px;
  z-index:1;
}

.menubar-link-group {
  padding:10px;
}

a.menubar-link-item {
  padding: 20px 5% 10px 5%;
  font-size: 20px;
  text-decoration: none;
  color: blueviolet;
}

.menubar-btn {
  color: black;
  position: fixed;
  right: 15px;
  top: 7px;
  z-index:3;
  height:35px;
  width:35px;
}

.hamburger {
  position:relative;
}

.hamburger span:nth-child(1) {
  border: 2px solid #ffffff;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}

.hamburger span:nth-child(2) {
  border: 2px solid #ffffff;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
}

.hamburger span:nth-child(3) {
  border: 2px solid #ffffff;
  position: absolute;
  top: 31px;
  left: 0;
  width: 100%;
}

.cross span:nth-child(1) {
  border: 2px solid black;
  position: absolute;
  top: 15px;
  left: -8px;
  width: 50px;
  transform: rotate(45deg);
}

.cross span:nth-child(2) {
  border: 2px solid black;
  position: absolute;
  top: 15px;
  left: -7px;
  width: 50px;
  transform: rotate(135deg);
}

/**
 * ----------------------------------------
 * animation rotate-in-diag-2
 * ----------------------------------------
 */
.rotate-in-diag-2 {
	animation: rotate-in-diag-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes rotate-in-diag-2 {
  0% {
    transform: rotate3d(-1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    transform: rotate3d(-1, 1, 0, 0deg);
    opacity: 1;
  }
}
/*------------------*/

/**
 * ----------------------------------------
 * animation rotate-in-hor
 * ----------------------------------------
 */
.rotate-in-hor {
	animation: rotate-in-hor 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes rotate-in-hor {
  0% {
    transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
/*------------------*/

.menubar-item {
  padding:10px;
  font-size: 45px;
}

.menubar-item a {
  text-decoration: none;
}

.menubar-modal {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  padding:10%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*---- menu button icon ----*/




/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
 @keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* main */
.title-area {
  background-color: transparent;
}

.lead {
  font-size: 1.6rem;
}

.main {
  padding-top:150px;
}
.container-fluid {
  padding:0;
}

/*----block-row------*/
.block-row, .slope-open-right {
  min-height: 400px;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 80px 0;
  position:relative;
}

.slope-open-right:before {
  content: '';
  position: absolute;
  border-bottom: 100px solid blueviolet;
  border-left: 98.8vw solid transparent;
  top: -100px;
}
.slope-open-right:after {
  content: '';
  position: absolute;
  border-top: 100px solid blueviolet;
  border-left: 98.8vw solid transparent;
  bottom: -100px;
  z-index:1;
}

.slope-open-left:before {
  content: '';
  position: absolute;
  border-bottom: 100px solid white;
  border-right: 98.8vw solid transparent;
  top: -100px;
}
.slope-open-left:after {
  content: '';
  position: absolute;
  border-top: 100px solid white;
  border-right: 98.8vw solid transparent;
  bottom: -100px;
  z-index:1;
}

.list {
  list-style: none;
  text-align: left;
  font-size: x-large;
  padding: 15px 10px;
}

.list-item {
  padding: 5px 0px 5px 0px;
}

.bullet-point {
  width: 12px;
  height: 12px;
  background-color: #909090;
  display: inline-block;
  margin: 0px 10px 3px 0px;
}

/* footer */
.footer {
  position:absolute;
  bottom:0;
  width:100%;
  min-height:30px;   /* Height of the footer */
  background:rgba(222, 226, 230, 0.5411764705882353);
}

/*-----background colors ------*/
.bg-blueviolet {
  background-color: blueviolet;
}

.bg-white {
  background-color: white;
}

.bg-transparent {
  background-color: transparent;
}

.bg-abacus1 {
  margin:0;
  padding:0;
  height:100%;
  font-family: sans-serif;
  background-image: url("./assets/abacus1.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0%;
  color:white;
  position:relative;
}

.bg-abacus2 {
  margin:0;
  padding:0;
  height:100%;
  font-family: sans-serif;
  background-image: url("./assets/abacus2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0%;
  color:white;
  position:relative;
}
/*----------------------------*/

/*--------Font colors --------*/
.color-grey {
  color: grey;
}
/*---------------------------*/

